

<div class="container">
  <div class="row col-sm-8 my-3">
    <div class="col justify-center">
      <div><%= image_tag('BanK-O Logo.png') %></div>
    </div>
  </div>

  <div class="row col-sm-8 my-3">
    <div class="col justify-center">
      <%= form_with url: meals_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Entrez le code Postal ou la Ville de destination"
        %>
      <%= submit_tag "Localiser", name: "Localiser", class: "btn btn-warning" %>
      <% end %>
    </div>
  </div>


</div>
