<div class="container-home-page">
  <div class=container-local>
    <div class="logo-home">
      <%= image_tag('BanK-O Logo.png') %>
    </div>
    <h2>Entrer votre code postal</h2>
    <div class="form-zipcode-home">
      <%= form_with url: meals_path, method: :get, class: "" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "input-form-home",
          placeholder: "Entrez le code Postal ou la Ville de destination"
        %>
        <%= submit_tag "Localiser", name: "Localiser", class: "button-valid" %>
      <% end %>
    </div>
  </div>
</div>
