<h1>Meals#index</h1>
<p>Les spécialités du coin:</p>

<div>
  <% @meals.each do |meal| %>
    <a href="<%= meal_path(meal) %>">
      <div class="meal-image">
        <%= image_tag(meal.photo, alt: meal.name) %>
      </div>
      <div>
        <h2><%= meal.name %></h2>
      </div>
    </a>
  <% end %>
</div>
