<div class="container-index-meals">
  <h2 class="title-meals">Les spécialités du coin:</h2>
  <div class="container-cards-index">
    <% @meals.each do |meal| %>
      <div class="position-button-fav-card">
        <%= link_to meal_path(meal), class:"card-meal-index card-bg-image", style:"background-image: url(#{meal.photo})" do %>
          <h2 class="title-meal-card"><%= meal.name %></h2>
        <% end %>

        <!-- modification du bouton de vic pour ouvrir la modale -->
        <% if user_signed_in? %>
        <%= link_to favorite_path(meal), data: {turbo_method: :post}, class:"btn btn-primary button-fav" do %>
        <i class="fa-solid fa-heart heart"></i>
        <% end %>


        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="button-return">
  <%= link_to root_path do %>
  <i class="fa-solid fa-left-long"></i>
  <% end %>
</div>
