<div class="container-index-meals">
  <h2 class="title-meals">Les spécialités du coin:</h2>
  <div class="container-cards-index">
    <% @meals.each do |meal| %>
    <div class="position-button-fav-card">
      <%= link_to meal_path(meal), class:"card-meal-index card-bg-image", style:"background-image: url(#{meal.photo})" do %>
        <h2 class="title-meal-card"><%= meal.name %></h2>
          <%= link_to "+", root_path, class:"button-fav" %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
