.button-login {
  background-color: #DE8B54;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  font-family: Bowlby One;
}

a {
  text-decoration: none;

}

.button-valid {
  background-color: #DE8B54;
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
  font-family: Open Sans;
  font-weight: 900;
  font-size: x-large;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-fav {
  color: white;
  background-color: #CC4E00;
  border-radius: 50%;
  font-size: x-large;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 1.5em; /* Largeur dépendante du texte */
  height: 1.5em;
  align-items: center;
  font-weight: bold;
  border: none;
}

.button-back {
  background-color: #DE8B54;
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
  font-family: Open Sans;
  font-weight: 900;
  font-size: x-large;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-return {
  position: fixed;
  bottom: 4vh;
  left: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CC4E00;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  a {
    font-size: larger;
    color: white;
  }
}
