.card-restaurant-show {
  background-color: #E9BA79;
  padding: 20px 20px;
  width: 80vw;
  margin: 0px 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.250);

  img {
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.250);
  }

  h2 {
    font-family: Bowlby One;
    color: #582D1D;
    margin-bottom: 15px;
  }

  h5 {
    font-family: Open Sans;
    margin-bottom: 10px;
  }

  a {
    font-family: Open Sans;
    color: black
  }

  p {
    font-family: Open Sans;
    margin-bottom: 10px;
  }

  .card-restaurant-mapbox {
    height: 20vh;
  }
}

.card-favorite-list-collapsed {
  background-color: #E9BA79;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;

  .card-favorite-list {
    padding: 15px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

.card-meal-index {
  height: 22vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  h2 {
    color: white;
    text-shadow: 1px 1px 1px black;
    font-family: Bowlby One;
  }
}

.card-meal-favorite {
  height: 22vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 1vw;
  h2 {
    color: white;
    text-shadow: 1px 1px 1px black;
    font-family: Bowlby One;
  }
}

.card-bg-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.position-button-fav-card {
  position: relative;

  form {
    position: absolute;
    bottom: 1vh;
    right: 1vw;
  }
}

.card-meal-restaurant {
  display: flex;
  background-color: #FFF6EA;
  border-radius: 10px;
  height: 12vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  .card-meal-restaurant-info {
    padding: 5px 10px;
    width: 50%;
  }

  .card-meal-restaurant-img {
    width: 50%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0px 10px 10px 0px;
    }
  }

  h3 {
    margin: 0px;
    font-family: Bowlby One;
    font-size: medium;
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    align-content: center;
  }
}


.card-favorite-title {
  display: flex;
  font-family: Bowlby One;
  color: #582D1D;
  font-weight: bold;
  width: 50%;
}


.random-favorite-image {
  object-fit: cover;
}

.card-favorite-list-local {
  background-color:#FFF6EA;
  display: flex;
  width: 100%;
  position: relative;
  height: 9vh;
  border-radius: 10px;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 15px;

  h5 {
    width: 50%;
    align-items: center;
    color: #582D1D;
    margin-bottom: 0px;
    padding: 10px 15px;
  }

  img {
    width: 50%;
    object-position: center;
    border-radius: 0px 10px 10px 0px;
  }

  form {
    position: absolute;
    bottom: 1vh;
    right: 1vw;
  }
}

.card-favorite-list-details {
  margin-bottom: 15px;
}
