.container-local {
 width: 90vw;
}

.container-card-restaurant {
  display: flex;
  justify-content: center;
}

.container-home-page {
  display: flex;
  justify-content: center;
  text-align: center;
}

.container-local-navbar {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pages-index .container-local-navbar {
  justify-content: end;
}
