.container-local {
 width: 90vw;
}

.container-card-restaurant {
  display: flex;
  justify-content: center;
}

.container-home-page {
  display: flex;
  justify-content: center;
  text-align: center;
}
.container-card-meal {
  width: 90vw;
  justify-content: center;
  text-align: center;
}
.meal-image {
  object-fit: contain;
  object-position: center;
  max-width: 400px;
}

.container-local-navbar {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pages-index .container-local-navbar {
  justify-content: end;
}

.container-cards-index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  gap: 20px;
  width: 90vw;
}

.container-favorites-index { // modif
  position: relative;
  margin-bottom: 20px;
  list-style-type: none;
}

.container-index-meals {
  display: grid;
  justify-content: center;
}

@media(max-width: 1200px) {
  .container-cards-index {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media(max-width: 992px) {
  .container-cards-index {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width: 850px) {
  .container-cards-index {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 550px) {
  .container-cards-index {
    grid-template-columns: 1fr;
  }
}


.card-recipe-show {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.card-recipe-index {
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 70%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
  }

}

.container-recipe-index {
  display: flex;
  justify-content: center;

}

.recipe-description-show {
  justify-content: center;
  text-align: left;
}
