.container-local {
 width: 90vw;
}

.container-card-restaurant {
  display: flex;
  justify-content: center;
}

.container-home-page {
  display: flex;
  justify-content: center;
  text-align: center;
}
.container-card-meal {
  width: 90vw;
  justify-content: center;
  text-align: center;
}
.meal-image {
  object-fit: contain;
  object-position: center;
  max-width: 400px;

.container-local-navbar {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pages-index .container-local-navbar {
  justify-content: end;
}
