.input-form-home {
  width: 90vw;
  background-color: #FFF6EA;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 2vh;
  font-size: medium;
  font-family: Open Sans;
  text-overflow: ellipsis;
  color: #582D1D;
}
